## 2023/4/29 アジェンダ
### 4章データの扱い（データの型）
### 5章 変数を理解しよう
### 6章 配列（リスト・タプル・セット）を理解しよう
可能なら次もやります。
#### 7章 連想配列（ディクショナリ）を理解しよう
#### 8章 条件分岐のif文を理解しよう

# 4章データの扱い（データの型）

- 文字列型
- 整数型
- 浮動小数点型
- 論理型
- 日付型（**発展**）

In [ ]:
# 文字型

print('こんにちは')
print("今日はいい天気ですね")

こんにちは
今日はいい天気ですね

シングルクオーテーション、ダブルクォーテーションどちらでもいいですが、文章中にシングルクオーテーションを使うときなどは注意が必要

In [ ]:
print("私は'おはようと'と言った")

私は'おはようと'と言った

In [ ]:
print('私は'おはようと'と言った')

SyntaxError: ignored

<発展> エスケープシーケンス

In [ ]:
print('私は\'おはようと\'と言った')

私は'おはようと'と言った

In [ ]:
# 整数型
print(100)

In [ ]:
# 小数浮動点
print(0.1)

## 論理型

In [ ]:
# 論理型
print(True)
print(False)

True
False

In [ ]:
print(1 == 1)
print(1 == 0)

print("a" == "a")
print("a" == "b")

True
False
True
False

## 四則演算

In [ ]:
print(45 + 18)
print(30 - 12)
print(15 * 6)
print(30 / 3)
print(45 % 8)

63
18
90
10.0
5

In [ ]:
import math
print(45 + 1.8)
print(3 - 1.2)
print(15 * 0.6)
print(3 / 0.3)
print(round(45 % 0.8,2))

46.8
1.8
9.0
10.0
0.2

【Python入門】小数点の操作を切り上げからroundまで完全理解！  
https://www.sejuku.net/blog/73255

## 文字列の連結

In [ ]:
print("今日の天気は" + "晴れ")
print("今日の天気は" "曇り")

In [ ]:
# これは実行するとエラー
print("降水確率" + 50 + "％" )

In [ ]:
# これはOK
print("降水確率" + str(50) + "％" )

In [ ]:
print("晴れ" * 5)
print("晴れ" + "晴れ" + "晴れ" + "晴れ" + "晴れ")

## 発展 文字列を扱うときによく使う関数

In [ ]:
sentence = "This is a pen. That is a note."

# 文字を分割してリスト（6章で出てくる）にする
# ここではスペースに分割
print( sentence.split(" ") )

directory = "C:/mydocument/test"
print( directory.split("/")[2] )

# 文字列の中に、特定の文字が存在するかを確認し論理型で返す
print( "pen" in sentence)
print( "pens" in sentence)

# 文字列の中の特定の文字を置き換える
print( sentence.replace("pen", "pencil") )

# 文字列の長さを求める。スペースも1文字とカウントされる。
print(len("This is a pen"))
# スペースを除いた文字数
print(len("This is a pen.".replace(" ","")))

['This', 'is', 'a', 'pen.', 'That', 'is', 'a', 'note.']
test
True
False
This is a pencil. That is a note.
13
11

## 発展　日付型
これは16章で詳細にレッスンします。ここでは、簡単にやります。

In [ ]:
import datetime

In [ ]:
print(datetime.datetime.today())
print(datetime.datetime(2023,1,1))
print(datetime.date(2023,1,1))

2023-04-29 10:26:11.851935
2023-01-01 00:00:00
2023-01-01

In [ ]:
print(type(datetime.datetime.today()))
print(type(datetime.datetime(2023,1,1)))
print(type(datetime.date(2023,1,1)))

<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.date'>

In [ ]:
datetime.date(2023,4,29) + datetime.timedelta(days=3)

datetime.date(2023, 5, 2)

# 5章 変数を理解しよう

In [ ]:
user_name = "侍太郎"

In [ ]:
# これはエラー　宣言などはひつようない
user_name2
user_name2 = "侍太郎"

In [ ]:
user_name = "侍太郎"
print(user_name)

In [ ]:
# 変数の中身を入れ替える
user_name = "侍太郎"
print(user_name)

user_name = "侍花子"
print(user_name)

## 変数を使って連結

In [ ]:
# 整数型と浮動小数点型の足し算
number1 = 5
number2 = 2.5
print(number1 + number2)

# 文字列型と文字列型の連結
last_name  = "侍"
first_name = "太郎"
print(last_name + first_name)

In [ ]:
last_name   = "侍"
first_name  = "太郎"
sister_name = "花子"

# 3つの変数を文字列内に埋め込んで表示
print(f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は侍太郎です。妹の名前は花子です。

In [ ]:
# formatを使った書き方。こちらを好む人もいます。
print("私の名前は{0}{1}です。妹の名前は{2}です。".format(last_name, first_name, sister_name) )

私の名前は侍太郎です。妹の名前は花子です。

# 6章 配列（リスト・タプル・セット）を理解しよう

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

# 2番目の要素である「侍一郎」という文字列だけを取り出して表示する
print(user_names[1])

更新

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

# 2番目の要素を更新する
user_names[1] = "侍花子"
print(user_names)

['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']

追加と削除

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

# 6番目の要素を追加する
user_names.append("侍五郎")
print(user_names)

# 3番目の要素を削除する
user_names.pop(2) # 0始まりのため、3番目のインデックスは2
print(user_names)

参考　配列の要素数

In [ ]:
print(len(user_names))

5

## 発展 多重配列
ステレオ録音された音、あるいは画像などは多次元配列の数値として扱われます

In [ ]:
mlt_list = [ [0,1,2,3,4], [5,6,7,8,9] ]
mlt_list

[[0, 1, 2, 3, 4], [5, 6, 7, 8, 9]]

In [ ]:
print(len(user_names))
print(len(mlt_list)) #2つの配列が入っているという情報が出てくる

5
2

In [ ]:
print(mlt_list[0]) #多重配列のうち、最初の配列を取り出す
print(len(mlt_list[0]))

[0, 1, 2, 3, 4]
5

タプル

In [ ]:
country_names = ("日本", "アメリカ", "イギリス", "フランス" )

# 3番目の要素である「イギリス」という文字列だけを取り出す
print(country_names[2])

In [ ]:
# これはエラー
country_names[2] = "ドイツ"

## セットの作り方・使い方

In [ ]:
prime_numbers = {2, 3, 5, 7}
prime_numbers

In [ ]:
# 1～10までに含まれる素数のセット
prime_numbers = {2, 3, 5, 7}

# セット全体を表示
print(prime_numbers)

prime_numbers.add(11) # 11をセットに追加
print(prime_numbers)

prime_numbers.remove(3) # セットから3を削除
print(prime_numbers)

# 宿題

ダブルクォーテーションで囲って、print("xxx")で表示した結果、以下のように出力されるようプログラムを書いてください。  
私は"おはよう"とあいさつしました

台形の面積
上底5、下底4、高さ3の台形の面積を求めてください。

45÷8の余りは5でした(45 % 8)。それでは、45÷8の商をPythonで求めるにはどうすればいいでしょうか。調べて、実際に確認してみてください。

ある整数が与えられた時、偶数か奇数かをPythonで判定するにはどうすればよいでしょうか。

半径5の円の面積を求めてください。円周率は3.14としてください。  
ただし、2乗を使ってください。`5*5*3.14`とはしないでください。

Pythonで2の20乗を求めてください。

In [ ]:
2**20

In [ ]:
"2" + "1"

数字の1と2を文字列型として受け取る場合を考えます。つまり、"1"と"2"を受け取ります。  
1) "1" + "2" を実行して結果を確認してください。  
2) "1"と"2"を足して3という結果をPythonで求めるにはどうすればよいか、方法を調べてみてください。

In [ ]:
"2" + "1"

In [ ]:
"2" + "1"

int("2") +int( "1")

2023/4/29の500日後は何年何月何日ですか

2022/1/1から2023/4/30までの日数を求めてください。

formatを使って、"私の名前は侍太郎です。妹の名前は花子です。"と出力してください。

"This is a pen"をすべて大文字にする方法を調べてみてください。

In [ ]:
"This is a pen.".upper()

変数aに文字列'12'を代入し，変数bに文字列'13'を代入し，これらを数字と見なした時の和を出力してください．  
a = '12'  
b = '13'  
以下のコードを埋めてください。

老人と海の一節です。アルファベット"f"と"s"がそれぞれ何個あるか、Pythonを使って数える方法を調べてみてください。

In [ ]:
print( "He was an old man who fished alone in a skiff in the Gulf Stream and he had gone eighty-four days now without taking a fish.".count("f") )
print( "He was an old man who fished alone in a skiff in the Gulf Stream and he had gone eighty-four days now without taking a fish.".count("s") )

6.4 リストを使ってみようをやってみてください

6.6 タプルを使ってみようをやってみてください

user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]を定義します。  
1)user_names[5]を使わずに、最後の要素"侍四郎"を抽出する方法を調べてみてください。  
2)['侍一郎', '侍二郎']と表示するにはどうすればいいでしょうか。  
3)['侍太郎', '侍二郎', '侍四郎']  
4)['侍四郎', '侍三郎', '侍二郎', '侍一郎', '侍太郎']

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]
print(user_names[-1])
print(user_names[1:3])
print(user_names[::4])
print(user_names[::-1])

侍四郎
['侍一郎', '侍二郎']
['侍太郎', '侍四郎']
['侍四郎', '侍三郎', '侍二郎', '侍一郎', '侍太郎']

多重配列
mlt_list = [[0,1,2,3,4], [5,6,7,8,9]]  
1) [5,6,7,8,9]を抽出してください  
2) 8を抽出してください

In [ ]:
# 値渡し
a =  "侍二郎"
b = a

a = "サム"

print("a",a)
print("b",b)

a サム
b 侍二郎

In [ ]:
# これは少し難しいです。調べてみて、わからなければ質問してください。必要なら次回レッスンで説明します
# いわゆる”値渡し”と”参照渡し”という概念です



# 次のコードを実行してみてください。user_namesは最後どのようになっていますか？
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]
user_names2 = user_names
user_names2[2] = "サム"

print("user_names", user_names)
print("user_names2", user_names2)

# user_namesを最初に定義した["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]のまま、user_names2の3番目要素だけ"サム"に変えるにはどうすればいいでしょうか？

user_names ['侍太郎', '侍一郎', 'サム', '侍三郎', '侍四郎']
user_names2 ['侍太郎', '侍一郎', 'サム', '侍三郎', '侍四郎']

[2,3,4,2,5,4,7,9,7]  
このリストから重複を削除して、重複がないリストを作成してください

{"A", "B", "C", "D"}  
 {"A", "C", "D", "E"}
両方のセットに共通して存在する要素を抽出する方法を調べてみてください。  
 また、片方のセットにしかない要素を抽出する方法も調べてみてください。

{"A", "B", "C", "D"}　と　{"A", "C", "D", "E"} を合わせた {'A', 'B', 'C', 'D', 'E'}というセットを作る方法を調べてみてください。

In [ ]:
{"A", "B", "C", "D"}.intersection({"A", "C", "D", "E"} )

{'A', 'C', 'D'}

In [ ]:
{"A", "B", "C", "D"} - {"A", "C", "D", "E"}

{'B'}

In [ ]:
{"A", "C", "D", "E"} - {"A", "B", "C", "D"}

{'E'}

In [ ]:
({"A", "B", "C", "D"} - {"A", "C", "D", "E"}).union({"A", "C", "D", "E"} - {"A", "B", "C", "D"})

{'B', 'E'}

In [ ]:
list( set([0,1,2,3]).intersection(set([1,2,4])) )

[1, 2]

In [ ]:
{"A", "B", "C", "D"}.union( {"A", "C", "D", "E"} )